In [1]:
                                   # Name-: Rohit Bhardwaj                               
                                 # Batch-: Data science Master
                                 # Asssignment :- Statistics Basic2




# Q1. What are the three measures of central tendency?

# Mean or average
# Median
# Mode

In [3]:
# Q2. What is the difference between the mean, median, and mode? How are they used to measure the
# central tendency of a dataset?

# The difference between mean, median and mode are: Mean is the average 
# value of the given observations. Median is the middle value of the
# given observations. Mode is the most repeated value in the given
# observation

import seaborn as sns
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
df['total_bill'].mean()

19.78594262295082

In [9]:
df['total_bill'].median()

17.795

In [10]:
df['total_bill'].mode()

0    13.42
Name: total_bill, dtype: float64

In [13]:
# Q3. Measure the three measures of central tendency for the given height data:
# [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]


# Mean (Average):
# To calculate the mean, add up all the values and then divide by the number of values in the dataset.

Mean = (178 + 177 + 176 + 177 + 178.2 + 178 + 175 + 179 + 180 + 175 + 178.9 + 176.2 + 177 + 172.5 + 178 + 176.5) / 16
Mean

177.01875

In [27]:
# Median (Middle Value):
# To calculate the median, first, you need to arrange the data in ascending order and then find the middle value. If there's an even number of data points, take the average of the two middle values.

?Sorted data = [172.5, 175, 175, 176, 176, 176.2, 177, 177, 177, 178, 178, 178, 178, 178.2,179, 180]

# Since there are 16 data points (an even number), the median is the average of the 8th and 9th values.

Median = (177 + 177) / 2
Median

Object `Sorted data = [172.5, 175, 175, 176, 176, 176.2, 177, 177, 177, 178, 178, 178, 178, 178.2,179, 180]` not found.

177.0

In [28]:
# Mode (Most Common Value):
# The mode is the value that appears most frequently in the dataset.

# Mode = 178 (because it appears the most times, five times)

# So, the three measures of central tendency for the given height data are:

# Mean ≈ 177.7625
# Median = 177
# Mode = 178

In [29]:
# Q4. Find the standard deviation for the given data:
# [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [30]:
# Q6. What is a Venn diagram?

# A Venn diagram is a graphical representation used to show the relationship 
# between sets or groups of items. It is composed of overlapping circles or 
# ellipses, each representing a different set, and the overlapping regions
# represent the elements that are common to those sets

# Venn diagrams are widely used in mathematics, logic, statistics, and 
# various fields to illustrate the concepts of set theory and to visually
# compare and contrast different groups or categories of items.

In [31]:
# Q7. For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). Find:
# (i) A n  B
# (ii) A ⋃ B

# A intersection B = {2,6}
# A union B = {0,2,3,4,5,6,7,8,10}

In [32]:
# Q8. What do you understand about skewness in data?


# There are three main types of skewness:
    
#     Positive Skew (Right-skewed): In a positively skewed distribution, the 
#     tail on the right-hand side (the upper tail) is longer or fatter than 
#     the left-hand side (the lower tail)
    
#      This means that the majority of the data points are concentrated on

#     the left side of the distribution, and there are a few extremely high
#     values that pull the mean to the right. 
    
    
#     Negative Skew (Left-skewed): In a negatively skewed distribution,
#     the tail on the left-hand side (the lower tail) is longer or fatter
#     than the right-hand side (the upper tail). 
    
    
    
#     This means that the majority of the data points are concentrated on
#     the right side of the distribution, and there are a few extremely low
#     values that pull the mean to the left.

In [33]:
# Q9. If a data is right skewed then what will be the position of median with respect to mean?

# Median: The median is the middle value of the dataset when it is ordered 
# from lowest to highest. Since there are more data points with lower values
# on the left side of the distribution, the median is pulled in that direction.

# median is typically less than the mean, and the median is located to the 
# left of the mean along the number line.

In [34]:
# Q10. Explain the difference between covariance and correlation. How are these measures used in
# statistical analysis?

# Covariance:
# Definition:
# Covariance measures the direction and magnitude of the linear relationship
# between two variables. It indicates whether the variables change together 
# (positive covariance) or in opposite directions (negative covariance).

# Correlation:
# Definition:
# Correlation measures the strength and direction of a linear relationship
# between two variables. It is a standardized measure, always ranging between
# -1 and 1, allowing for easier interpretation and comparison.


df.corr()

/tmp/ipykernel_95/718632044.py:17: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [35]:
df.cov()

/tmp/ipykernel_95/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

            total_bill       tip      size
total_bill   79.252939  8.323502  5.065983
tip           8.323502  1.914455  0.643906
size          5.065983  0.643906  0.904591

In [36]:
# Q11. What is the formula for calculating the sample mean? Provide an example calculation for a
# dataset.

# The formula for calculating the sample mean (also known as the average)

# X 
# is the sample mean.

# # Dataset:{85,92,78,88,95,89,76,90,82,94}


# Add up all the data points:
#  sample mean =    85+92+78+88+95+89+76+90+82+94=879
# n =10
# x bar  = 897/10
# = 87.9
# the sample mean (average) score for the 10 students on the math test is 87.9.

In [37]:
# Q12. For a normal distribution data what is the relationship between its 
# measure of central tendency?


# In a normal distribution (also known as a Gaussian distribution or bell curve),
# there is a specific and well-defined relationship between its measures of 
# central tendency, which include the mean, median, and mod

# Mean (μ): In a normal distribution, the mean is located at the center of 
# the distribution, and it is equal to the median and mode

# Median (Median): The median of a normal distribution is equal to the mean


# Mode (Mode): The mode of a normal distribution is also equal to the mean 
# and the median.

In [38]:
# Q13. How is covariance different from correlation?

 # while covariance and correlation both describe the relationship between
 #    two variables, correlation is often preferred in practice due to its
 #    standardization, making it easier to interpret and compare. Covariance,
 #    on the other hand, can be useful when you want to understand the direction
 #    of the relationship but is less interpretable when it comes to the strength
 #    of the relationship.

In [ ]:
# Q14. How do outliers affect measures of central tendency and dispersion? Provide an example.



# Mean (Average):

# Outliers can have a substantial impact on the mean because the mean is
# sensitive to extreme values.
# A single outlier with an extremely high or low value can significantly 
# pull the mean in the direction of the outlier.
# For example, consider a dataset of salaries where most employees earn 
# around $50,000 per year, but one CEO earns $5,000,000 per year. The mean 
# salary is greatly influenced by the CEO's outlier value.
# Median:

# The median is less affected by outliers because it is the middle value
# when the data is sorted.
# Outliers do not alter the median as long as they are not numerous enough 
# to change the position of the middle value.
# In the example mentioned earlier, the median salary would remain close to 
# $50,000 because the CEO's salary does not affect its position in the sorted data.
# Mode:

# The mode is generally not affected by outliers unless the outliers become
# the most frequently occurring values in the dataset.
# In most cases, a single or a few outliers will not impact the mode